body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* CSS to deal with constraint validation styles */
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid green;
}

.cible{
  border-radius:100%;
  width: 7%;
}

#zoneGame{
  border: 2px solid;
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

#headerLogo {
  width: 25%;
}





