body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* CSS to deal with constraint validation styles */
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid green;
}

/*Background style*/
#cinematicVideo video {
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/*Header Style*/
header {
  text-align: center;
  margin: 1% 0% 0% 0%;
}

header p {
  margin: 10px 0 10px 0;
}

#headerLogo {
  width: 100%;
}

#headerPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/*Page Style*/
#page {
  padding-bottom: 15%;
  width: 100%;
  height: 100%;
}

/*Footer Style*/
footer {
  padding-top: 0%;
}

footer h5 {
  float: middle;
  margin-left: 7%;
  font-size: 14px;
}

#footerSound {
  float: right;
  margin: 1% 3.5% 1% 1%;
  width: 50px;
}

#footerSoundLogo {
  width: 100%;
}

/*Login Style*/
#demoVideo {
  padding-bottom: 1%;
  align-items: left;
}

#instructions {
  padding-bottom: 2%;
  text-align: justify;
}

#supportButton {
  display: block;
  width: 90%;
}

.btn a {
  color: #fff;
}

/*Register Style*/
.registerPage .formCase {
  padding: 0 15% 0 20%;
}

/*Social Style*/
.socialMedia {
  padding-right: 10%;
}

/*Home Style*/
#userInfo {
  margin: 3% 0 -2% 0;
  text-align: center;
}

#profilImage {
  float: left;
  width: 15%;
}

#userAddress {
  padding: 1% 0% 0% 5%;
  text-align: center;
  font-size: 18px;
}

.homePage table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

/*Game Style*/
.gamePage {
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  height: 115%;
  background-image: url("../images/gameBackground.png");
  background-size: cover;
}

.gameInfo {
  position: relative;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  width: 90%;
  padding: 5px 15px 5px 15px;
  margin-bottom: 20px;
  background: #fff;
}

#zoneGame {
  width: 100%;
  height: 84%;
}

#GameFunction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cible {
  border-radius:100%;
  width: 7%;
}

.score {
  display: flex;
  flex-direction: row;
}

#BestScore {
  padding-right: 15px;
}

#first {
  background-color:#FFD700;
}

#second {
  background-color:#aaa9ad;
}

#third {
  background-color:#cd7f32;
}

/*Form Style*/
.formCase {
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 25%;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  position: relative;
  text-align: center;
  width: 90%;
  background: #fff;
}

#formHeader {
  margin: 30px 30px 25px 30px;
  padding: 5% 5% 0 5%;
  min-height: 40px;
}

#formFooter {
  border-top: 1px solid #dce8f1;
  padding: 5% 0 5% 5%;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #f6f6f6;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.5s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}